<div class='container'>
  <div class="img-container" #containerEl>
    <img class="subject" #subjectEl [class.loading]="loading" [style.left.%]="xoffset" [style.bottom.%]="yoffset" [src]="subject?.subjectId"
      (click)="tagSubject($event);" (load)="resetView()">
  </div>
  <div class="action-bar"><button class="gk-button red" (click)="newSubject()" [disabled]="!!loading">NOT PEPPER</button>
    <button class="gk-button green" (click)="tagSubject()" [disabled]="!!loading">PEPPER</button></div>
</div>
